name: Build docker image
on:
  schedule:
    - cron: '4 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - images/*

permissions:
  contents: read
  id-token: write
  packages: write

env:
  COSIGN_EXPERIMENTAL: 1

jobs:
  base:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login into Github Docker Registery
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - uses: docker/build-push-action@v6
        with:
          tags: ghcr.io/duyhenryer/wolfi/base:latest
          platforms: linux/amd64,linux/arm64
          context: images/base
          push: true
          provenance: false

      - name: Sign image
        run: cosign sign --yes ghcr.io/duyhenryer/wolfi/base:latest

  php-fpm:
    runs-on: ubuntu-latest
    needs: base
    strategy:
      matrix:
        php:
          - 8.4
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login into Github Docker Registery
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - uses: docker/build-push-action@v6
        with:
          tags: ghcr.io/duyhenryer/wolfi/php-fpm:${{ matrix.php }}
          platforms: linux/amd64,linux/arm64
          context: images/php/fpm
          build-args: PHP_VERSION=${{ matrix.php }}
          push: true
          provenance: false

      - name: Sign image
        run: cosign sign --yes ghcr.io/duyhenryer/wolfi/php-fpm:${{ matrix.php }}

  nginx:
    runs-on: ubuntu-latest
    needs: base
    strategy:
      matrix:
        php:
          - 8.4
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login into Github Docker Registery
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - uses: docker/build-push-action@v6
        with:
          tags: ghcr.io/duyhenryer/wolfi/nginx:${{ matrix.php }}
          platforms: linux/amd64,linux/arm64
          context: images/nginx
          build-args: PHP_VERSION=${{ matrix.php }}
          push: true
          provenance: false

      - name: Sign image
        run: cosign sign --yes ghcr.io/duyhenryer/wolfi/nginx:${{ matrix.php }}

