name: Build docker image
on:
  schedule:
    - cron: '4 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - images/*

permissions:
  contents: read
  id-token: write
  packages: write

env:
  COSIGN_EXPERIMENTAL: 1

jobs:
  base:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push base image
        uses: docker/build-push-action@v6
        with:
          context: images/base
          file: images/base/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/duyhenryer/wolfi/base:latest
          push: true
          provenance: false

      - name: Sign image
        run: cosign sign --yes ghcr.io/duyhenryer/wolfi/base:latest

  php-fpm:
    runs-on: ubuntu-latest
    needs: base
    strategy:
      matrix:
        php:
          - 8.4
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push php-fpm image
        uses: docker/build-push-action@v6
        with:
          context: images/php/fpm
          file: images/php/fpm/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/duyhenryer/wolfi/php-fpm:${{ matrix.php }}
          build-args: PHP_VERSION=${{ matrix.php }}
          push: true
          provenance: false

      - name: Sign image
        run: cosign sign --yes ghcr.io/duyhenryer/wolfi/php-fpm:${{ matrix.php }}
  nginx:
    runs-on: ubuntu-latest
    needs: base
    # if: ${{ github.event_name != 'schedule' || needs.check-upstream.outputs.should_build == 'true' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3

      - name: Install yq
        run: |
          wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq
          chmod +x /usr/bin/yq
      - name: Extract nginx version
        id: version
        run: |
          VERSION=$(yq eval '.package.version' nginx.yaml)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Nginx version: $VERSION"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push nginx image
        uses: docker/build-push-action@v6
        with:
          context: images/nginx
          file: images/nginx/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/duyhenryer/wolfi/nginx:${{ steps.version.outputs.version }}
            ghcr.io/duyhenryer/wolfi/nginx:latest
          push: true
          provenance: false

      - name: Sign images
        run: |
          cosign sign --yes ghcr.io/duyhenryer/wolfi/nginx:${{ steps.version.outputs.version }}
          cosign sign --yes ghcr.io/duyhenryer/wolfi/nginx:latest
