name: Pull Request Check

on:
  pull_request:
    paths:
      - "**/*.yaml"
      - "!.github/**/*.yaml"
      - "!images/**/*.yaml"
      - "!examples/**/*.yaml"
permissions:
  contents: read
  pull-requests: read
  
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Lint using Wolfictl
        uses: wolfi-dev/actions/wolfictl-lint@main

  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/wolfi-dev/sdk:latest
      options: --cap-add NET_ADMIN --cap-add SYS_ADMIN --device /dev/fuse --security-opt seccomp=unconfined --security-opt apparmor=unconfined
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Generate key
        run: make init

      - name: Look for changed files
        id: changes
        uses: tj-actions/changed-files@v47
        with:
          files_yaml: |
            melange:
              - '**/*.yaml'
              - '!.github/**/*.yaml'
              - '!images/**/*.yaml'
              - '!examples/**/*.yaml'

      - name: Build all packages
        if: steps.changes.outputs.melange_all_changed_files != ''
        run: |
          for file in ${{ steps.changes.outputs.melange_all_changed_files }}; do
            if [[ -z "$file" ]] || [[ ! -f "$file" ]]; then
              continue
            fi
            packageName=$(basename $(dirname "$file"))
            echo "Building package: $packageName"
            make package/"${packageName}" || { echo "Build failed for $packageName"; exit 1; }
            make test/"${packageName}" || { echo "Test failed for $packageName"; exit 1; }
          done